<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.web03.mapper.FavoriteMapper">

    <!-- 根据用户ID统计收藏夹数量 -->
    <select id="countByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM favorites WHERE favorites.user_id = #{userId}
    </select>

    <!-- 根据用户ID分页查询收藏夹列表 -->
    <select id="listByUserId" resultType="org.web03.pojo.Favorite.Favorite">
        SELECT f.id,f.user_id,f.product_id,f.created_at,
               p.title,p.price,p.original_price,p.sales,p.stock,p.tag,p.skus,
               p.on_sale,p.deleted,
               p.shop_id,
               s.name shop_name, s.score shop_score
        FROM favorites f
                 LEFT JOIN products p ON p.id = f.product_id
                 LEFT JOIN shops s ON s.shop_id = p.shop_id
        WHERE f.user_id = #{userId}
        ORDER BY f.id DESC
        LIMIT #{offset}, #{size}
    </select>


</mapper>

